.team__type-analysis {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--white);
  padding-inline: var(--spacing-lg);
  padding-top: var(--spacing-lg);
  width: 100%;
  grid-area: 2 / 1 / 3 / 2;
}

.type-analysis__heading {
  margin-bottom: var(--spacing-md);
}

.type-analysis__legend {
  margin-bottom: var(--spacing-md);
  font-size: 0.9rem;
  color: var(--gray-dark);
}

.type-analysis__empty-cell {
  height: 32px; /* Match the height of the type icon */
}

.type-analysis__label {
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--gray-dark);
  margin-bottom: var(--spacing-xs);
}

.type-analysis__grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--spacing-2xl);
  list-style: none;
  flex: 1;
}

.tally {
  display: flex;
  align-items: center;
  width: 100%;
}

.tally__type {
  width: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.tally__type .type-icon {
  width: 100%;
  height: auto;
}

.tally__marks {
  display: flex;
  justify-content: space-between;
  margin-left: var(--spacing-xs) !important;
  gap: var(--spacing-xs);
  margin: 0;
  padding: 0;
  list-style: none;
}

.tally__marks-defense {
  margin-bottom: 0;
}

.tally__marks-coverage {
  margin-top: 0;
}

.tally__mark {
  height: 10px;
  aspect-ratio: 1;
  background-color: var(--white-smoke);
  border-radius: var(--radius-full);
  border: 1px solid var(--silver);
}

.tally__mark_good {
  background-color: var(--blue-gray);
  border: 0;
}

.tally__mark_bad {
  background-color: var(--red-gray);
  border: 0;
}

.tally__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tally__marks-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.tally__divider {
  margin: 0 !important;
  height: var(--spacing-xs) !important;
  margin-inline: -2px !important;
}
