.team__type-analysis {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--white);
  padding-inline: var(--spacing-lg);
  padding-top: var(--spacing-lg);
  width: 100%;
}

.type-analysis__grid {
  display: grid;
  height: 100%;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Un poco más para acomodar márgenes */
  list-style: none;
}

.tally {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
}

.tally__type {
  width: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.tally__type .type-icon {
  width: 100%;
  height: auto;
}

.tally__marks {
  display: flex;
  gap: var(--spacing-xs);
  margin: 0;
  padding: 0;
  list-style: none;
}

.tally__marks-defense {
  margin-bottom: 2px;
}

.tally__mark {
  height: 10px;
  aspect-ratio: 1;
  background-color: var(--white-smoke);
  border-radius: var(--radius-full);
}

.tally__mark_good {
  background-color: var(--blue-gray);
}

.tally__mark_bad {
  background-color: var(--red-gray);
}

.tally__mark:hover {
  transform: translateY(-4px);
}

.tally__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tally__marks-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
