p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.pokemonTeamCard {
  background-color: rgb(161, 70, 70);
  border-radius: 4px;
  padding: 8px;
}

.pokemonImageContainer {
  border-radius: 6px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonImageContainer img {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
}

.pokemonDataContainer {
  max-width: 304px;
}

.mainInfoContainer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.pokemonTypeing {
  display: flex;
  gap: 4px;
}

.small-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.pokemonCurrentLevel {
  background-color: #000;
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 18px;
  gap: 4px;
  color: white;
}

.name-levelContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.item-abilityContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.itemContainer img {
  flex-shrink: 0;
}

.itemContainer input,
.abilityInput {
  flex-grow: 1;
  height: 24px;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
}

.moveInputsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.moveInput {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding: 4px;
}

#separatorLine {
  border-radius: 10px;
  height: 1px;
  border: none;
  margin-block: 4px;
  background-color: #fff;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
}

.pokemon-table th {
  background-color: #000;
  color: #fff;
  padding: 8px;
  text-align: left;
}

.pokemon-table td:first-child {
  max-width: 40px;
  padding: 2px;
}

.pokemon-table img {
  height: 40px;
  width: 40px;
}

.selected-slot {
  border: 3px solid #ffcc00; /* Borde amarillo cuando el slot está seleccionado */
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}
