p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.pokemonTeamCard {
  background-color: rgb(161, 70, 70);
  border-radius: 4px;
  padding: 8px;
}

.pokemonImageContainer {
  border-radius: 6px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonImageContainer img {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
}

.pokemonDataContainer {
  max-width: 304px;
}

.mainInfoContainer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.pokemonTypeing {
  display: flex;
  gap: 4px;
}

.small-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.pokemonCurrentLevel {
  background-color: #000;
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 18px;
  gap: 4px;
  color: white;
}

.name-levelContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.item-abilityContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.itemContainer {
  display: flex;
  max-height: 24px;
  align-items: center;
  gap: 4px;
}

.item-button,
.abilityInput {
  height: 24px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
}

.moveInputsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.moveInput {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding: 4px;
}

#separatorLine {
  border-radius: 10px;
  height: 1px;
  border: none;
  margin-block: 4px;
  background-color: #fff;
}

.table-container {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 100px;
  overflow-y: scroll;
}

.pokemon-table thead tr {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pokemon-table th {
  background-color: #000;
  color: #fff;
  padding: 8px;
  text-align: left;
}

.pokemon-table td:first-child {
  max-width: 40px;
  padding: 2px;
}

.pokemon-table img {
  height: 40px;
  width: 40px;
}

.selected-slot {
  background-color: rgb(59, 59, 154);
}

.selected-move {
  background-color: rgb(182, 157, 61);
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
