.team-preview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.team-preview-section .pokemon-sprite img:not(.item-indicator) {
  height: 200px;
}

.team-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-sprite {
  position: relative;
}

.item-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
}
